body {
    font-family: 'Open Sans', sans-serif;
    color: #212121;
}

.container {
    margin: 20px 15%;
}

.section-header {
    display: block;
    margin-top: 20px;
}

.section-wrapper {
    display: block;
    margin-bottom: 10px;
}

.section-footer {
    display: block;
    margin-bottom: 10px;
}

.section-wrapper .search {
    display: flex;
}

.search {
    width: 350px;
    position: relative;
}

.search-input {
  float: left;
  width: 100%;
  border: 3px solid #263238;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #212121;
}

.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    border: 1px solid #263238;
    background: #263238;
    text-align: center;
    color: #eceff1;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}